div(ng-controller="createCtrl" class="box")
    //a(href="#!/" ng-class="style")
    img(src="add.png" ng-click="add()")
    form(enctype="multipart/form-data" method="post")
        h3 Добавь свою картинку!
        input(type="file"
            accept="image/jpeg"
            ng-model="dataObject.img"
            fileread="dataObject.img"
            ng-change="addImage()")
        //input(type="text" ng-change="addImage()" ng-model="dataObject.img")
    div
        h3 Как называется твоя статья?
        form
            input(ng-model="dataObject.head" class="head")
    div(class="window-paper")
        h3 Напишу статью здесь!
        textarea(ng-model="dataObject.paper")
        //form(class="create-paper" action="#!/" )
        //        button(class="button" type="submit" ng-click="add()")
        //            = "{{ flag ? 'создать статью' : 'Сохранить изменения'}}"
