div(class="box-content" ng-controller="createCtrl")
    img(class="icon" ng-if="!editMode" src="add.png" ng-click="add()")
    img(class="icon" ng-if="editMode" src="check-mark.png" ng-click="saveEditPaper()")
    h3(class="head-edit" ng-if="editMode") Вы находитесь в режиме редактирования.
    img(class="image-paper" src="{{dataObject.img}}")
    div(class="buttons-image")
        div(class="file-upload")
            label
                input(type="file"  ng-click="loadImage()")
                span(ng-if="!dataObject.img") добавить картинку
                span(ng-if="dataObject.img") изменить картинку
        div(class="file-upload" ng-if="dataObject.img")
            label(ng-click="deleteImage()")
                span удалить
    div
        h3(ng-if="!editMode") Как называется ваша статья?
        h3(ng-if="editMode") Крутое название - залог успеха статьи.
        input(class="head" ng-model="dataObject.head")
    div(class="window-paper")
        h3(ng-if="!editMode") Напишите статью здесь.
        div
            img(src="font-size.png")
            input(type="range" ng-model="dataObject.value" min="10" max="40")
            span {{dataObject.value}}px
        h3(ng-if="editMode") Согласитесь, всегда есть над чем порабротать.
        textarea(ng-model="dataObject.paper" style="font-size: {{dataObject.value }}px")
form(action="#!/")
    div(class="button_create")
        button(type="submit") вернуться назад