div(class="box" ng-controller="createCtrl")
    img(ng-if="flag" src="add.png" ng-click="add()" class="image-button")
    a(ng-if="!flag" href="#!/view/{{Id}}")
        img(src="check-mark.png" ng-click="saveEditPaper()" class="image-button")
    form(enctype="multipart/form-data" method="post")
        h3(ng-if="flag") Добавьте картинку.
        h3(ng-if="!flag") Вы находитесь в режиме редактирования.
        img(src="{{dataObject.img}}" class="image-paper")
        input(type="file"  ng-click="loadImage()")
    div
        h3(ng-if="flag") Как называется ваша статья?
        h3(ng-if="!flag") Крутое название - залог успеха статьи.
        form
            input(ng-model="dataObject.head" class="head")
    div(class="window-paper")
        h3(ng-if="flag") Напишите статью здесь.
        h3(ng-if="!flag") Согласитесь, всегда есть над чем порабротать.
        textarea(ng-model="dataObject.paper")





