div(class="box-content" ng-controller="createCtrl")
    img(class="icon" ng-if="!editMode" src="add.png" ng-click="add()")
    //a(ng-if="editMode" href="#!/view/{{Id}}")
    //    img(class="icon" src="check-mark.png" ng-click="saveEditPaper()")
    img(class="icon" ng-if="editMode" src="check-mark.png" ng-click="saveEditPaper()")
    h3(class="head-edit" ng-if="editMode") Вы находитесь в режиме редактирования.
    img(class="image-paper" src="{{dataObject.img}}")
    div(class="file-upload")
        label
            input(type="file"  ng-click="loadImage()")
            span добавить картинку
    div
        h3(ng-if="!editMode") Как называется ваша статья?
        h3(ng-if="editMode") Крутое название - залог успеха статьи.
        input(class="head" ng-model="dataObject.head")
    div(class="window-paper")
        h3(ng-if="!editMode") Напишите статью здесь.
        div
            img(src="font-size.png")
            input(type="range" ng-model="dataObject.value" min="10" max="40")
            span {{dataObject.value}}px
        h3(ng-if="editMode") Согласитесь, всегда есть над чем порабротать.
        textarea(class="textarea" ng-model="dataObject.paper")
