div(ng-controller="createCtrl" class="box")
    //a(href="#!/" ng-class="style")
    img(src="add.png" ng-click="add()")
    form(enctype="multipart/form-data" method="post")
        h3 Добавь свою картинку!
        //input(type="file" accept="image/jpeg" ng-click="handleFiles()" id="input")
        input(type="file" accept="image/jpeg" ng-model="dataObject.img")
        //p(id="output")
        p {{dataObject.img}}
    div
        h3 Как называется твоя статья?
        form
            input(ng-model="dataObject.head" class="head")
    div(class="window-paper")
        h3 Напишу статью здесь!
        textarea(ng-model="dataObject.paper")




//div(ng-controller="createCtrl" class="box")
//    img(ng-if="!isEditMode" src="add.png" ng-click="add()")
//    span(ng-if="isEditMode" href="#!/view/{{Id}}")
//        img(src="check-mark.png" ng-click="saveEditPaper()")
//    form(enctype="multipart/form-data" method="post")
//        h3 Добавь свою картинку!
//        //input(type="file"
//        //    accept="image/jpeg"
//        //    ng-model="dataObject.img"
//        //    fileread="dataObject.img"
//        //    ng-change="addImage()")
//    div
//        h3 Как называется твоя статья?
//        form
//            input(ng-model="dataObject.head" class="head")
//    div(class="window-paper")
//        h3 Напишу статью здесь!
//        textarea(ng-model="dataObject.paper")

