div(ng-controller="createCtrl" class="box")
    img(src="add.png" ng-click="add()" class="image-button")
    form(enctype="multipart/form-data" method="post")
        h3 Добавь свою картинку!
        img(src="{{dataObject.img}}" class="image-paper")
        input(type="file"  ng-click="loadImage()")
    div
        h3 Как называется твоя статья?
        form
            input(ng-model="dataObject.head" class="head")
    div(class="window-paper")
        h3 Напишу статью здесь!
        textarea(ng-model="dataObject.paper")




