div(ng-controller="editCtrl" class="box")
    a(href="#!/view/{{Id}}")
        img(src="check-mark.png" ng-click="saveEditPaper()" class="image-button")
    form(enctype="multipart/form-data" method="post")
        h3 Добавь свою картинку!
        img(src="{{data.img}}" class="image-paper")
        input(type="file"  ng-click="loadImage()")
    div
        h3 Как называется твоя статья?
        form
            input(ng-model="data.head" class="head")
    div(class="window-paper")
        h3 Напишу статью здесь!
        textarea(ng-model="data.paper")