div(ng-controller="editCtrl" class="box")
    a(href="#!/view/{{Id}}")
        img(src="check-mark.png")
    form(enctype="multipart/form-data" method="post")
        h3 Добавь свою картинку!
        input(type="file" accept="image/jpeg" id="files" name="files[]")
        output(id="list")
    div
        h3 Как называется твоя статья?
        form
            input(ng-model="data.head" class="head")
    div(class="window-paper")
        h3 Напишу статью здесь!
        textarea(ng-model="data.paper")
        //a(href="#!/view/{{Id}}")
        //    div(class="button-link") сохранить изменения