doctype html
html(ng-app="myApp")
    head
    title Personal blog
    meta(charset="UTF-8")
    link(rel="stylesheet", href="/styles/main.css")
    script(src="index.js")
    body
        div(ng-controller="firstCtrl" class="firstCtrl")
            form(enctype="multipart/form-data" method="post")
                h3 Добавь свою картинку!
                input(type="file" accept="image/jpeg" id="files" name="files[]")
                //input(type="submit" value="Отправить" ng-click="addImage()")
                output(id="list")
            div
                h3 Как называется твоя статья?
                form
                    input(ng-model="head" class="head")
                    //button(ng-click="addHead()") добавить
                div(ng-repeat="head in arrayHead track by $index")
                    h2 {{head}}
            div(class="window-paper")
                h3 Напишу статью здесь!
                textarea(ng-model="paper")
                div(class="create-paper")
                    button(ng-click="add()") создать статью
                div(ng-repeat="paper in arrayPaper track by $index")
                    p {{paper}}
