doctype html
html(ng-app="myApp")
    head
    title Personal blog
    meta(charset="UTF-8")
    link(rel="stylesheet", href="/styles/main.css")
    body
        ng-view
        script(src="index.js")
