div(ng-controller='previewCtrl')
    div(class="box" ng-repeat="blog in data track by $index")
        img(src="/delete1.png" ng-click="deletePaper($index)" class="image-button")
        a(href="#!/view/{{$index}}")
            img(src="read.png" class="image-button")
        img(src="{{blog.img}}" class="image-paper-preview")
        h2 {{blog.head}}
form(class="button_create" action="#!/create")
    button(type="submit") создать статью










