div(class="box" ng-controller='viewCtrl')
    h2 {{data.head}}
    p {{data.paper}}
    a(href="#!/edit/{{Id}}")
        div(class="button-link") редактировать
form(class="button_create" action="#!/create")
    button(type="submit") создать статью