div(ng-class='classForBlur' class="box-content" ng-controller='viewCtrl')
    a(href="#!/edit/{{Id}}")
        img(class="icon" src="edit.png")
    img(class="image-paper" src="{{data.img}}")
    h2 {{data.head}}
    p(class="paragraph") {{data.paper}}
    div(class="arrow" )
        img(class="active-arrow" src="left-arrow.png" ng-click="sliderMinus()" ng-if ="flag")
        img(src="right-arrow-gray.png" ng-if ="flag")
        img(class="active-arrow" src="left-arrow.png" ng-click="sliderMinus()" ng-if ="flag1")
        img(class="active-arrow" src="right-arrow.png" ng-click="sliderPlus()" ng-if ="flag1")
        img(src="left-arrow-gray.png" ng-if ="flag2")
        img(class="active-arrow" src="right-arrow.png" ng-click="sliderPlus()" ng-if ="flag2")
form(action="#!/")
    div(class="button_create")
        button(type="submit") список <статей></статей>