.date
  font-size 13px
  margin 10px 0px
  color #939393

.filter
  width: 310px;
  margin: 30px auto 0
  input
    width: 300px;
    border-radius: 20px;
    border: inherit;
    height: 21px;
    padding: 4px;

.arrow
  width 20%
  margin auto
  display flex
  flex-direction row
  justify-content space-between
  img
    width 20px
    height 20px

.active-arrow
  cursor pointer