body
  font-size 16px
  margin 0
  padding 0

.box
  width 40%
  margin 50px auto
  padding 1%
  border solid 1.5px
  border-radius 22px
  a
    text-decoration none
  h2
    margin-bottom -5px

.image-button
  float right
  width 15px
  cursor pointer
  margin-left 5px

.window-paper
  textarea
    width 100%
    height 400px
    font-family sans-serif

.head
  width 100%

.create-paper
  margin 20px auto
  width 22%

.button_create
  width 17%
  margin 50px auto
  button
    width 300px
    height 40px
    background-color transparent
    border solid 1.5px
    border-radius 22px
    cursor pointer
    background-color rgba(10, 69, 234, 0.12)
    &:hover
      background-color rgba(10, 69, 234, 0.25)

.image-paper
  width 400px

.image-paper-preview
  width 250px