body
  font-size 16px

.firstCtrl
  width 40%
  margin 100px auto

.window-paper
  textarea
    width 100%
    height 400px

.head
  width 100%

.thumb
  height 500px
  border 1px solid #000
  margin 10px 5px 0 0

.create-paper
  margin 20px auto
  width 29%
  button
    width 200px
    height 45px